#container {
    border: 1px solid black;
    width: 350px;
    margin: 100px auto;
}

h1 {
    margin: 0;
    background: #C96;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    padding: 10px 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.completed {
    color: gray;
    text-decoration: line-through;   
}   

input {
    width: 100%;
    box-sizing: border-box;
    padding: 13px 13px 13px 20px;
    display: none;
}

body {
    

background: #BA8B02; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #BA8B02 , #181818); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #BA8B02 , #181818); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.fa-plus {
    float: right;
}

li {
    height: 40px;
    line-height: 40px;
    background: #fff;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

span {
    color: white;
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    transition: 0.5s linear;
    width: 0;
    display: inline-block;
    text-align: center;
  
}

li:hover span{
    width: 40px;   
}
